<div class="alert alert-danger center" role="alert" *ngIf="showError">
  {{ errorString }}
</div>
<section class="border-bottom bg-gray top-Pad-10">
<div class="container flexi-width">
    <div class="row">
        <div class="col-12">
            <div class="row mtb10">
                <div class="col no-side-padding">
                    <div class="row">
                        <div class="col right-content">
                            <h1 class="center x-font blogHD">Forgot Password</h1>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-auto pad24 ">
                            <form action="" [formGroup]="requiredForm" method="post" role="form" class="php-email-form aos-init aos-animate" data-aos="fade-up">
                                <div class="form-group login-form-cnt">
                                    <label for="email" class="pl-2">Email Address</label>
                                    <input placeholder="abc@example.com" type="email" name="username" class="form-control contact-input-fld" [(ngModel)]="accountModel.EmailAddress" id="username" required email="true" formControlName="EmailAddress">
                                    <div *ngIf="requiredForm.controls['EmailAddress'].invalid && requiredForm.controls['EmailAddress'].touched" class="alert alert-danger">
                                      <div *ngIf="requiredForm.controls['EmailAddress'].errors.required">
                                          Email is required.
                                      </div>
                                      <div *ngIf="requiredForm.controls['EmailAddress'].errors.email">
                                          Please provide valid email.
                                      </div>
                                    </div>
                                </div>
                                <div class="row padT10">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-red-user" style="width: 100%;" (click)="onSignUp()">Send Password</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                      <p class="extra-txt">Or if you have account, click here for <a href="/login" style="font-weight: 500;">Login</a> or to change password click <a href="/changepassword" style="font-weight: 500;">Change password</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>