<div *ngIf="isLoading | async" class="overlay">
  <!-- <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
  </mat-progress-spinner> -->
  <!-- <div class="center">
    <img src="../../../assets/Logo-Png.png" style="width: 300px;height: 60px;">
  </div> -->
  <!-- <div class="stage">
    <div class="box">
      <img src="../../../assets/Loading-with mono.gif">
    </div>
</div> -->
  <div class="ld-center">
    <img src="../../../assets/loading-2.gif"><br>
     Please wait, your data is rendering ...
  </div>
</div>

<div id="waisaydiv" class="overlay" style="display: none;">
  <div class="ld-center">
    <img src="../../../assets/loading-2.gif"><br>
     Please wait, your data is rendering ...
  </div>
</div>