<div class="alert alert-danger center" role="alert" *ngIf="showError">
    {{ errorString }}
</div>
<section class="border-bottom bg-gray top-Pad-10">
    <div class="container flexi-width">
        <div class="row">
            <div class="col-12">
                <div class="row mtb10">
                    <div class="col no-side-padding">
                        <div class="row">
                            <div class="col right-content">
                                <h1 class="center x-font blogHD">Change Password</h1>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-5 col-md-6 col-sm-auto pad24">
                                <form action="" [formGroup]="requiredForm" method="post" role="form" class="php-email-form aos-init aos-animate" data-aos="fade-up">
                                    <div class="form-group login-form-cnt">
                                        <label for="email" class="pl-2">Email</label>
                                        <input placeholder="abc@example.com" type="email" name="username" class="form-control contact-input-fld" id="username" [(ngModel)]="accountModel.EmailAddress" required email="true" formControlName="EmailAddress">
                                        <div *ngIf="requiredForm.controls['EmailAddress'].invalid && requiredForm.controls['EmailAddress'].touched" class="alert alert-danger">
                                            <div *ngIf="requiredForm.controls['EmailAddress'].errors.required">
                                                Email is required.
                                            </div>
                                            <div *ngIf="requiredForm.controls['EmailAddress'].errors.email">
                                                Please provide valid email.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group login-form-cnt">
                                        <label for="oldPassword" class="pl-2">Old Password</label>
                                        <input placeholder="Password" type="password" class="form-control contact-input-fld" name="oldPassword" id="oldPassword" [(ngModel)]="accountModel.Password" required formControlName="Password">
                                        <div *ngIf="requiredForm.controls['Password'].invalid && requiredForm.controls['Password'].touched" class="alert alert-danger">
                                            <div *ngIf="requiredForm.controls['Password'].errors.required">
                                                Password is required.
                                            </div>
                                            <div *ngIf="requiredForm.controls['Password'].errors.minlength">
                                                Password must be at least 6 characters.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group login-form-cnt">
                                        <label for="email" class="pl-2">New Password</label>
                                        <input placeholder="New Password" type="password" class="form-control contact-input-fld" name="password" id="password" data-rule="email" [(ngModel)]="accountModel.NewPassword"  required formControlName="NewPassword">
                                        <div *ngIf="requiredForm.controls['NewPassword'].invalid && requiredForm.controls['NewPassword'].touched" class="alert alert-danger">
                                            <div *ngIf="requiredForm.controls['NewPassword'].errors.required">
                                                New Password is required.
                                            </div>
                                            <div *ngIf="requiredForm.controls['NewPassword'].errors.minlength">
                                                New Password must be at least 6 characters.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group login-form-cnt">
                                        <label for="confirmpassword" class="pl-2">Confirm Password</label>
                                        <input placeholder="Confirm Password" type="password" class="form-control contact-input-fld" name="confirmpassword" id="confirmpassword" [(ngModel)]="accountModel.ConfirmPassword"  required formControlName="ConfirmPassword">
                                        <div *ngIf="requiredForm.controls['ConfirmPassword'].invalid && requiredForm.controls['ConfirmPassword'].touched" class="alert alert-danger">
                                            <div *ngIf="requiredForm.controls['ConfirmPassword'].errors.required">
                                                Confirm Password is required.
                                            </div>
                                            <div *ngIf="requiredForm.controls['ConfirmPassword'].errors.confirmedValidator">
                                                Password and Confirm Password must be match.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padT10">
                                        <div class="col-6 col-auto">
                                            <button type="submit" class="btn btn-red-user" style="width: 100%;" (click)="onChangePassword()">Change Password</button>
                                        </div>
                                        <div class="col-6 col-auto">
                                            <button type="submit" class="btn" style="width:100%; border:1px solid #e1e1e1; background-color: white;" (click)="onRedirect()">Forget Password?</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="extra-txt">Or if you don't have account, click here for <a href="/Signup" style="font-weight: 500;">Sign Up</a> or <a href="/login" style="font-weight: 500;">Login</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>