#loading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  #loading-text {
    margin-right: 10px;
  }
  
  #loading-spinner {
    display: inline-block;
    border: 4px solid rgba(255, 165, 0, 0.1); /* Orange color */
    border-radius: 50%;
    border-top: 4px solid #eeece8; /* Orange color */
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #stop-loading-btn {
    padding: 8px 12px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .search-bar{
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .search-btn-container{
    text-align: end;
      padding-top: 5px;
      padding-right: 8px;
      padding-bottom: 5px;
  }
  .search-btn{
    background: #da4527;
      border: none;
      border-radius: 5px;
  }
  .py-10{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .search-bar-filter{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .bg-2-sub-s-2
  {
    gap: 0px !important;
  }
  .lang-dp {
    border-radius: 6px;
  }
  .header-search{
    width: 100% !important;
  }
  .searchIcon{
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%2030%2030%22%3E%0A%3Cpath%20d%3D%22M%2013%203%20C%207.4886661%203%203%207.4886661%203%2013%20C%203%2018.511334%207.4886661%2023%2013%2023%20C%2015.396652%2023%2017.59741%2022.148942%2019.322266%2020.736328%20L%2025.292969%2026.707031%20A%201.0001%201.0001%200%201%200%2026.707031%2025.292969%20L%2020.736328%2019.322266%20C%2022.148942%2017.59741%2023%2015.396652%2023%2013%20C%2023%207.4886661%2018.511334%203%2013%203%20z%20M%2013%205%20C%2017.430666%205%2021%208.5693339%2021%2013%20C%2021%2017.430666%2017.430666%2021%2013%2021%20C%208.5693339%2021%205%2017.430666%205%2013%20C%205%208.5693339%208.5693339%205%2013%205%20z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    font-size: 28px;
    padding-right: calc(1.5em + 0.75rem);
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    filter:  brightness(0) invert(1);
    cursor: pointer;
  }