<app-loader></app-loader>

<header style="display: flex;">
    <div *ngIf="!isUserLoggedIn">
        <a style="padding: 0px;" href="/login"><button class="btn1 mr-1"> LOG IN</button></a>
        <a style="padding: 0px;" href="/signup"><button class="btn2">SIGN UP</button></a>
    </div>
    <div class="col-auto padT9 tp-button-link" *ngIf="isUserLoggedIn">
        {{emailAddress}}
        <a href="#" (click)="onLogout()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
              </svg> Logout
        </a>
    </div>
</header>
  <router-outlet></router-outlet>
  <!-- <app-keywordsearch [pickedKeywordsInput]="PickedKeyWords"></app-keywordsearch> -->

  <footer style="display: flex;">
    <div class="footer-flex">
      <div class="f-c-t">
        <a class="footer-flex-anchor" href="#">Support</a>
        <a class="footer-flex-anchor" href="FAQ'S.html">FAQs</a>
        <a class="footer-flex-anchor" href="#">Terms</a>
        <a class="footer-flex-anchor" href="#">Privacy</a>
      </div>
      <div>
        <img class="footer-flex-img" src="../assets/content/youtube.png" alt="">
        <img src="../assets/content/facebook.png" alt="">
      </div>
      <div>
        <p class="f-p mb-0">© 2024 Keyword Planner. All Rights Reserved</p>
      </div>
    </div>
  </footer>

<!-- old code  -->
<!-- <header id="header">
    <div class="container flexi-width">

        <div class="row justify-content-between">
            <div class="col-auto">
                <a href="/"><img src="../assets/logo1x.png" alt="Keyword Planners"></a>
            </div>
            <div class="col-auto padT9 tp-button-link" *ngIf="!isUserLoggedIn">

                <a href="/login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                    </svg> Login
                </a>&nbsp;
                <a href="/signup">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                    </svg> Sign up
                </a>
            </div>
            <div class="col-auto padT9 tp-button-link" *ngIf="isUserLoggedIn">
                {{emailAddress}}
                <a href="#" (click)="onLogout()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                        <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                      </svg> Logout
                </a>
            </div>
        </div>

    </div>
</header> -->

<!-- <section class="d-flex border-bottom">
    <div class="container flexi-width">
        <div class="row marginLeft0">
            <div>
                <h3 class="fontBorder">Keyword Planners</h3>
            </div>
<div class="ml-auto">
    <a href='https://play.google.com/store/apps/details?id=com.hananafzal89.keywordplannermobile&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
    <img src="./../assets/google-play-badge.png" width="200px" style="height: 60px !important;" />
    </a>
</div>
        </div>
    </div>
</section> -->


<!-- <footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#">
                    English
                </a>
            </div>
        </div>
    </div>
</footer> -->

